/* selectors/actions/dom */
.gridArea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "buttons1" 
    "list"
    "domArea"
  ;
  place-items: center;
}
#buttons1 {grid-area: buttons1; display: flex;}
#buttons1 button {flex: 1; margin: 2px; width: 125px; height: 50px; color: navy;}

#list {grid-area: list; display: flex;}
#list figure {flex: 1; margin: 15px;}
#list img {width: 60px; height: 50px;}

figcaption {text-align: center; font-style: italic; font-size: 0.75em;}

#domArea {grid-area: domArea; display: flex;}
#domArea img {width: 50px; height: 70px;}
#domArea button {margin-top: 5px;}
#domArea section {flex: 1;}

#dom1 {display: flex;}
#dom1 img {flex: 1;}

.anchorCSS { border-radius: 50px; background-color: navy; 
    font-size: 1em; text-decoration: none; color: white; padding: 2px;
    text-align: center; margin-bottom: 5px;}

#nextButton {position: fixed; bottom: 5px; right: 5px;}

.gifBorder{border: thick solid purple;}
.h3Style {text-align: center; font-family: Times New Roman; color: white; background: navy;}


/* https://flaviocopes.com/rotate-image/ */
.rotate { animation: rotation 8s infinite linear;}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}